.form-container {
  max-width: 20%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  background-color: #3F51B5;
  margin-top: 10px;
}